<% layout("layouts/boilerplate") %>

    <div class="row justify-content-center">

        <div class="col-lg-6 col-md-8">

            <div class="new-form-container">

                <h2 class="mb-4 fw-bold">
                    Edit Listing
                </h2>

                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" enctype="multipart/form-data">

                    <!-- TITLE -->

                    <div class="mb-3">

                        <label class="form-label">
                            Title
                        </label>

                        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" />

                    </div>

                    <!-- DESCRIPTION -->

                    <div class="mb-3">

                        <label class="form-label">
                            Description
                        </label>

                        <textarea name="listing[description]" class="form-control"
                            rows="4"><%= listing.description %></textarea>

                    </div>

                   <!-- CURRENT IMAGE -->

<div class="mb-3">

   <label class="form-label">
      Current Image
   </label>

   <br>

   <img
   src="<%= listing.image.url %>"
   class="edit-preview-img mb-3"
   >

</div>

<!-- UPLOAD NEW IMAGE -->

<div class="mb-3">

   <label class="form-label">
      Upload New Image
   </label>

   <input
      type="file"
      name="listing[image]"
      class="form-control"
   >

</div>
                 

                    <!-- PRICE -->

                    <div class="mb-3">

                        <label class="form-label">
                            Price
                        </label>

                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" />

                    </div>

                    <!-- COUNTRY -->

                    <div class="mb-3">

                        <label class="form-label">
                            Country
                        </label>

                        <input name="listing[country]" value="<%= listing.country %>" type="text"
                            class="form-control" />

                    </div>

                    <!-- LOCATION -->

                    <div class="mb-4">

                        <label class="form-label">
                            Location
                        </label>

                        <input name="listing[location]" value="<%= listing.location %>" type="text"
                            class="form-control" />

                    </div>
                    <div class="mb-3">

                        <label class="form-label">
                            Category
                        </label>

                        <select name="listing[category]" class="form-select">

                            <option value="Beach" <%=listing.category==="Beach" ? "selected" : "" %>>
                                Beach
                            </option>

                            <option value="Mountains" <%=listing.category==="Mountains" ? "selected" : "" %>>
                                Mountains
                            </option>

                            <option value="Forest" <%=listing.category==="Forest" ? "selected" : "" %>>
                                Forest
                            </option>

                            <option value="Arctic" <%=listing.category==="Arctic" ? "selected" : "" %>>
                                Arctic
                            </option>

                            <option value="Homes" <%=listing.category==="Homes" ? "selected" : "" %>>
                                Homes
                            </option>

                        </select>

                    </div>
                    <!-- BUTTON -->

                    <button class="btn add-btn">
                        Save Changes
                    </button>

                </form>

            </div>

        </div>

    </div>